* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: 600px;
    height: 150px;
}

.contenitore {
    margin: 20px 0;
}

article,
footer {
    margin-left: 10px;
}

#logo {
    width: 20%;
    margin-top: 50px;
    margin-left: 10px;
}

h1 {
    font-size: 60px;
    line-height: 60px;
}

#sottotitolo {
    color: grey;
    font-size: 25px;
}

#booleaner-sottotitolo {
    color: #20A9E5;
}

#data-sottotitolo {
    font-size: 20px;

}

.tim-berners {
    height: 500px;
}

p,
ul,
table {
    font-size: 20px;
    text-align: left;
}

table {
    border-spacing: 0;
}

li {
    margin-left: 1em;
}

.column {
    width: 30%;
}

#tr-head {
    background-color: #20A9E5;
    color: white;
}

.tr-body {
    background-color: #AEE4F1;
}
