* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: 600px;
    height: 150px;
}
#logo {
    width: 20%;
    margin-top: 50px;
    margin-left: 10px;
}